CONFIG_ARM_MPU=y
CONFIG_CLOCK_CONTROL=y
CONFIG_PINCTRL=y
CONFIG_USBC_TCPC_DRIVER=y

CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

CONFIG_GPIO=y

CONFIG_BUILD_OUTPUT_HEX=y
CONFIG_BOOTLOADER_MCUBOOT=y
CONFIG_MCUBOOT_SIGNATURE_KEY_FILE="bootloader/mcuboot/root-rsa-2048.pem"
# dfu-util -D build/zephyr/zephyr.signed.bin
