#include <arm/armv6-m.dtsi>
#include <mem.h>

#include <dt-bindings/clock/lpc84x_clock.h>
#include <dt-bindings/swm/lpc84x_swm.h>
#include <dt-bindings/gpio/gpio.h>

/ {
    cpus {
        #address-cells = <1>;
        #size-cells = <0>;

        cpu0: cpu@0 {
            compatible = "arm,cortex-m0+";
            reg = <0>;
        };
    };

    sram0: memory@10000000 {
        compatible = "mmio-sram";
        reg = <0x10000000 DT_SIZE_K(8)>;
    };

    soc {
        flash0: flash@0 {
            compatible = "soc-nv-flash";
            reg = <0 DT_SIZE_K(64)>;
        };

        syscon: clock-controller@40048000 {
            compatible = "nxp,lpc84x-syscon";
            #clock-cells = <1>;
            reg = <0x40048000 0x4000>;
            label = "SYSCON";
            status = "okay";
        };

        swm0: swm@4000c000 {
            compatible = "nxp,lpc84x-swm";
            clocks = <&syscon kCLOCK_Swm>;
            reg = <0x4000c000 0x4000>;
            label = "SWM_0";
            status = "okay";
        };

        uart0: serial@40064000 {
            compatible = "nxp,lpc84x-uart";
            clocks = <&syscon kCLOCK_Uart0>;
            swms = <&swm0 &swm0>;
            swmfuncs = <kSWM_USART0_TXD kSWM_USART0_RXD>;
            reg = <0x40064000 0x4000>;
            label = "UART_0";
            status = "disabled";
        };

        gpio0: gpio@0 {
            compatible = "nxp,lpc84x-gpio";
            clocks = <&syscon kCLOCK_Gpio0>;
            reg = <0xa0000000 0x4000>;
            interrupts = <24 2>,<25 2>,<26 2>,<27 2>;
            label = "GPIO_0";
            gpio-controller;
            #gpio-cells = <2>;
            port = <0>;
            status = "disabled";
        };

        gpio1: gpio@1 {
            compatible = "nxp,lpc84x-gpio";
            clocks = <&syscon kCLOCK_Gpio1>;
            reg = <0xa0000000 0x4000>;
            interrupts = <28 2>,<29 2>,<30 2>,<31 2>;
            label = "GPIO_1";
            gpio-controller;
            #gpio-cells = <2>;
            port = <1>;
            status = "disabled";
        };
    };
};

&nvic {
    arm,num-irq-priority-bits = <2>;
};
