/dts-v1/;

#include <wch/wch_ch32x035.dtsi>
#include <dt-bindings/adc/adc.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/usb-c/pd.h>
#include <zephyrboards/dt-bindings/pinctrl/ch32x035-pinctrl.h>

/ {
    model = "usb_pdmon";
    compatible = "wch,ch32x035";

    chosen {
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,console = &usart1;
    };

    aliases {
        led0 = &led_r;
        led1 = &led_g;
        led2 = &led_b;
    };

    leds {
        compatible = "gpio-leds";
        led_r:   led_r   { gpios = <&gpioa 7 GPIO_ACTIVE_LOW>;  };
        led_g:   led_g   { gpios = <&gpiob 3 GPIO_ACTIVE_LOW>;  };
        led_b:   led_b   { gpios = <&gpiob 0 GPIO_ACTIVE_LOW>;  };
        vbus_en: vbus_en { gpios = <&gpioc 3 GPIO_ACTIVE_HIGH>; };
    };

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port1: usbc-port@1 {
            compatible = "usb-c-connector";
            reg = <1>;
            tcpc = <&usbpd>;
            vbus = <&vbus1>;
            power-role = "sink";
            sink-pdos = <
                PDO_FIXED(5000,  3000, 0) /* 5V,  3A */
                PDO_FIXED(9000,  3000, 0) /* 9V,  3A */
                PDO_FIXED(15000, 3000, 0) /* 15V, 3A */
                PDO_FIXED(20000, 5000, 0) /* 20V, 5A */
            >;
        };
    };
};

&usart1 {
    pinctrl = <PB10 PB11>;
    remap = <GPIO_PartialRemap2_USART1>;
    current-speed = <115200>;
    status = "okay";
};

&usart2 {
    pinctrl = <PA2 PA3>;
    current-speed = <19200>;
    status = "okay";
    lin0: lin0 {
        compatible = "virtual,lin-uart";
        status = "okay";
        bitrate = <19200>;
    };
};

&gpioa {
    status = "okay";
};

&gpiob {
    status = "okay";
};

&gpioc {
    status = "okay";
};

&adc1 {
    vref-mv = <3300>; // mV
    prescaler = <ADC_CLK_DIV16>;
    status = "okay";

    ibus_mon: channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };

    vbus_mon: channel@1 {
        reg = <1>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_CH32(8, ADC_SAMPLE_TIME_11)>;
        zephyr,resolution = <12>;
    };

    vbus1: vbus {
        compatible = "zephyr,usb-c-vbus-adc";
        io-channels = <&adc1 1>; // vbus_mon
        output-ohms = <10000>;
        full-ohms = <(100000 + 10000)>;
        power-gpios = <&gpioc 3 GPIO_ACTIVE_HIGH>; // vbus_en
    };
};

zephyr_udc0: &usbfs {
    status = "okay";
};

&usbpd {
    status = "okay";
};
