menuconfig CLOCK_CONTROL_LPC84X
    bool "LPC84X Reset and clock control"
    depends on SOC_SERIES_LPC84X
    help
      Enable driver for reset and clock control used in
      LPC84X MCUs

if CLOCK_CONTROL_LPC84X

endif # CLOCK_CONTROL_LPC84X
