menuconfig CLOCK_CONTROL_LPC84X
    bool "LPC84X Reset and clock control"
    depends on SOC_SERIES_LPC84X
    help
      Enable driver for reset and clock control used in
      LPC84X MCUs

if CLOCK_CONTROL_LPC84X

# idk why not set
config CLOCK_CONTROL_INIT_PRIORITY
  int "Clock control init priority"
  default KERNEL_INIT_PRIORITY_OBJECTS

endif # CLOCK_CONTROL_LPC84X
