CONFIG_SOC_SERIES_LPC84X=y
CONFIG_SOC_LPC845=y
CONFIG_BOARD_LPC845_LIN=y

CONFIG_BUILD_OUTPUT_HEX=y

CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=30000000

CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y

CONFIG_GPIO=y
