if BOARD_K66F_BREAKOUT

config OSC_XTAL0_FREQ
    default 12000000

config MCG_PRDIV0
    default 0x0

config MCG_VDIV0
    default 0x4

# MCGOUTCLK = 12MHz/1*30/2 = 180MHz

if NETWORKING

config NET_L2_ETHERNET
    default y if !MODEM

config ETH_MCUX_RMII_EXT_CLK
    default y

endif # NETWORKING

endif # BOARD_K66F_BREAKOUT
