/dts-v1/;
#include <st/g0/stm32g0b1Xe.dtsi>
#include <st/g0/stm32g0b1k(b-c-e)txn-pinctrl.dtsi>

/ {
	model = "NOGUSB STM32G0B1KET6N Development Board";
	compatible = "st,stm32g0b1ke";

	// bare minimum
	chosen {
		zephyr,console = &usart5;
		zephyr,shell-uart = &usart5;
		zephyr,uart-mcumgr = &usart5;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	// supported peripherals
	leds {
		compatible = "gpio-leds";
		led_red: led_0 {
			gpios = <&gpiob 9 GPIO_ACTIVE_LOW>;
		};
		led_green: led_1 {
			gpios = <&gpiob 8 GPIO_ACTIVE_LOW>;
		};
		led_blue: led_2 {
			gpios = <&gpiob 7 GPIO_ACTIVE_LOW>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		dbg_1: button_0 {
			gpios = <&gpioc 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "DBG1";
		};
		dbg_2: button_1 {
			gpios = <&gpioc 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "DBG2";
		};
	};

	aliases {
		bootloader-led0 = &led_blue;
		led0 = &led_red;
		led1 = &led_green;
		led2 = &led_blue;
		sw0  = &dbg_1;
		sw1  = &dbg_2;
	};
};

// bare minimum
&clk_hsi {
	status = "okay";
};

&clk_hsi48 {
	status = "okay";
};

&pll { // 64 MHz
	div-m = <1>;
	mul-n = <8>;
	div-p = <2>;
	div-q = <2>;
	div-r = <2>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(64)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00010000>; // 64KiB
			read-only;
		};
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 0x00070000>; // 448KiB
		};
	};
};

&usart5 {
	pinctrl-0 = <&usart5_tx_pd3 &usart5_rx_pd2>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

// supported peripherals
zephyr_udc0: &usb {
	pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
};

&adc1 {
	st,adc-clock-source = <SYNC>;
	st,adc-prescaler = <4>;
	pinctrl-0 = <&adc1_in1_pa1>;
	pinctrl-names = "default";
	status = "okay";
};

&spi2 {
	pinctrl-0 = <&spi2_sck_pa0 &spi2_miso_pa3 &spi2_mosi_pa4>;
	pinctrl-names = "default";
	status = "okay";
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_pa7 &i2c2_sda_pa6>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&dac1 {
	pinctrl-0 = <&dac1_out2_pa5>;
	pinctrl-names = "default";
	status = "okay";
};

&fdcan1 {
	status = "okay";
	pinctrl-0 = <&fdcan1_rx_pd0 &fdcan1_tx_pd1>;
	pinctrl-names = "default";
	bus-speed = <125000>;
	bus-speed-data = <1000000>;
};

&rtc {
	status = "okay";
};

&iwdg {
	status = "okay";
};
