if SOC_SERIES_LPC84X

rsource "Kconfig.defconfig.lpc84*"

config SOC_SERIES
    default "lpc84x"

config NUM_IRQS
    # must be >= the highest interrupt number used
    default 40

if GPIO

config GPIO_LPC84X
    default y

endif # GPIO

if SERIAL

config UART_LPC84X
    default y

endif # SERIAL

endif # SOC_SERIES_LPC84X
