if SOC_SERIES_LPC84X

rsource "Kconfig.defconfig.lp*"

config SOC_SERIES
    default "lpc84x"

config NUM_IRQS
    # must be >= the highest interrupt number used
    default 40

if CLOCK_CONTROL

config CLOCK_CONTROL_LPC84X
    default y

endif # CLOCK_CONTROL

if SWM

config SWM_LPC84X
    default y

endif # SWM

# if SERIAL
# 
# config UART_LPC84X
#     default y
# 
# endif # SERIAL

endif # SOC_SERIES_LPC84X
