config SOC_FAMILY_WCH_CH32
	bool
	select RISCV
	select RISCV_GP
	select INCLUDE_RESET_VECTOR
	select BUILD_OUTPUT_HEX
	select TICKLESS_CAPABLE

config SOC_FAMILY
	string
	default "wch_ch32"
	depends on SOC_FAMILY_WCH_CH32

rsource "*/Kconfig.soc"
