/dts-v1/;

#include <nxp/nxp_lpc845.dtsi>

#include <dt-bindings/swm/lpc84x_swm.h>

/ {
	model = "LPC845-BRK Development Board";
	compatible = "nxp,lpc";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart0;
	};
};

&uart0 {
	// iocon-pins = <IOCON_INDEX_PIO0_25 IOCON_INDEX_PIO0_24>;
	swm-pins   = <kSWM_PortPin_P0_25  kSWM_PortPin_P0_24>;
	status = "okay";
};
