menuconfig SWM
  bool "Switch matrix support"
  help
    Enable support for switch matrix

if SWM

config SWM_INIT_PRIORITY
  int "SWM init priority"
  default KERNEL_INIT_PRIORITY_OBJECTS
  help
    SWM driver device initialization priority.

module = SWM
module-str = switch matrix
source "subsys/logging/Kconfig.template.log_config"

rsource "Kconfig.lpc84x"

endif # SWM
